Bot (2).json
{
  "name": "Bot",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Mensaje: {{ $('WhatsApp Trigger').item.json.messages[0].text.body }}\n\nFecha: {{ $json.formattedDate }}\n\nAnalyze the user's message and determine the main intent. Summarize the message in one clear and concise sentence. Make sure to extract and include any relevant details.\n\nOutput format:\nSummary: The user wants to know about the company  \nIntent: To provide an answer",
        "options": {
          "systemMessage": "=# Role\nYou are a helpful assistant Called AI Bot.\nYo are talking to {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }} in spanish\n\n# Additional context\ncurrent date : {{ $json.formattedDate }}\n# Tools Overview\nYou have acces to the following tools.\n\n## Calculator\nUse his tool to perform any math calculations.\n\n\n\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        1260,
        -140
      ],
      "id": "6916cba2-d003-4511-8322-435ac1666de7",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolCalculator",
      "typeVersion": 1,
      "position": [
        1420,
        120
      ],
      "id": "6eb769b2-aa3f-4de0-aec4-705b5dc46ff5",
      "name": "Calculator"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        820,
        -140
      ],
      "id": "6844cdf3-bb9b-4d87-aa55-873b0c5b650a",
      "name": "Date & Time"
    },
    {
      "parameters": {
        "operation": "formatDate",
        "date": "={{ $json.currentDate }}",
        "format": "custom",
        "customFormat": "DDDD",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        1040,
        -140
      ],
      "id": "f931f27c-be54-4f4d-9879-bddc37e6b9ef",
      "name": "Date & Time1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1140,
        100
      ],
      "id": "6c6bc61c-6706-42a1-8dc3-4d06de58e9e3",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oJTSYk8FzG650sVn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "name": "researchAgent",
        "description": "Use this tool in order to perform on any given topic.",
        "workflowId": {
          "__rl": true,
          "value": "G1N1pto6bdNDcHML",
          "mode": "list",
          "cachedResultName": "Research Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.1,
      "position": [
        1400,
        380
      ],
      "id": "3257ceca-e8d3-49fe-8c17-f5e437918cc4",
      "name": "researchAgent"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1280,
        120
      ],
      "id": "82466ccb-2b36-4029-9be4-321f30d9046d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "messages"
        ],
        "options": {}
      },
      "type": "n8n-nodes-base.whatsAppTrigger",
      "typeVersion": 1,
      "position": [
        520,
        -140
      ],
      "id": "daa8960e-c301-43cb-badb-dcc5cd07f159",
      "name": "WhatsApp Trigger",
      "webhookId": "e69135a6-33c4-4af8-bce0-27b14b45a29e",
      "credentials": {
        "whatsAppTriggerApi": {
          "id": "ALHTjaomTy6cjeWa",
          "name": "WhatsApp OAuth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "=647397421786612",
        "recipientPhoneNumber": "={{ $('WhatsApp Trigger').item.json.contacts[0].wa_id }}",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        2480,
        -140
      ],
      "id": "bb416ba1-7e4d-4653-8e88-9f7c1575c3f6",
      "name": "WhatsApp Business Cloud",
      "webhookId": "efe58a8b-a771-4f3b-9751-bcea562870ee",
      "credentials": {
        "whatsAppApi": {
          "id": "kVgNULQyMJGQzJxH",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "description": "Returned documents related to the company and its menu"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        2160,
        140
      ],
      "id": "2a01bf3a-de39-44dd-aafe-9e6bf454add8",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "1n8n",
          "mode": "list",
          "cachedResultName": "1n8n"
        },
        "options": {
          "pineconeNamespace": "Coca cola"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.2,
      "position": [
        2140,
        340
      ],
      "id": "0778b770-e1b9-422d-95cb-7e5580bbe7f3",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "Baqiw4qjEmmF8cTF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2520,
        400
      ],
      "id": "50d96bbf-1c25-4041-aa4d-7b155de04e8f",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "oJTSYk8FzG650sVn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        2160,
        540
      ],
      "id": "b580db5c-71cf-4146-9c99-e37937d00582",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "oJTSYk8FzG650sVn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the following summary and intent, generate an appropriate response to send via WhatsApp.\n\n{{ $json.output }}\n\nIf the user's intent is \"ask a question\" and the question requires additional context or information retrieval, use the vector store tool to answer.\n\nOtherwise, reply directly using only the information provided. Be clear, concise, and helpful.\n",
        "options": {
          "systemMessage": "=# Role\nYou are a helpful assistant Called AI Bot.\nYo are talking to {{ $('WhatsApp Trigger').item.json.contacts[0].profile.name }} in spanish\n# Tools Overview\nYou have acces to the following tools.\n\n## Answer questions with a vector store\n\nUse this tool When customers ask questions about Coca-Cola’s products, services, promotions, or policies, use the context they provide to answer as accurately as possible.\n\nIf you don’t know the answer, simply reply with:\n“I don’t know.”\nDo not guess or invent information.\n\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        1660,
        -160
      ],
      "id": "d6415168-8c82-4624-ac3e-7e02b90d5baf",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1760,
        200
      ],
      "id": "ccec408e-9838-4939-bab1-e3a19549641b",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "oJTSYk8FzG650sVn",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('WhatsApp Trigger').item.json.metadata.phone_number_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1920,
        180
      ],
      "id": "12555e1d-18e9-4c5b-87d8-44ef14c48992",
      "name": "Simple Memory1"
    }
  ],
  "pinData": {},
  "connections": {
    "Calculator": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time": {
      "main": [
        [
          {
            "node": "Date & Time1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Date & Time1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "researchAgent": {
      "ai_tool": [
        []
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Trigger": {
      "main": [
        [
          {
            "node": "Date & Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "WhatsApp Business Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "6a048f51-ad25-4e34-a3e2-c29c277a0398",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f640c628d80eb12cf7caa4fffacd01e596da9c048ac11b61e49dee022eaec8c5"
  },
  "id": "14SRXzSOcpDFpIzF",
  "tags": []
}