ResearchAgent (1) 1.json
{
  "name": "ResearchAgent",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query }}",
        "options": {
          "systemMessage": "=# Role\nYour role is to research the provided topic using the provided tools."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        380,
        0
      ],
      "id": "e9cc4161-cc2e-4e5d-9fb6-7ff00c4f142f",
      "name": "AI Agent"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.toolWikipedia",
      "typeVersion": 1,
      "position": [
        420,
        220
      ],
      "id": "e5e12ca7-947a-4758-81dc-bf2e672e1dba",
      "name": "Wikipedia"
    },
    {
      "parameters": {
        "resource": "all",
        "limit": 5,
        "additionalFields": {
          "keyword": "={{ $fromAI('Keyword', `keywords that can be used to perform a query on hacker news`, 'string') }}"
        }
      },
      "type": "n8n-nodes-base.hackerNewsTool",
      "typeVersion": 1,
      "position": [
        520,
        220
      ],
      "id": "6016de37-33ee-47c0-b388-616fff1c2a67",
      "name": "Hacker News"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.toolSerpApi",
      "typeVersion": 1,
      "position": [
        640,
        220
      ],
      "id": "f15bac45-7908-4a0d-bbfc-f8e9e99f7125",
      "name": "SerpAPI",
      "credentials": {
        "serpApi": {
          "id": "12p7JoyaJvMDrA2g",
          "name": "SerpAPI account"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "passthrough"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        0
      ],
      "id": "c0b6fef1-bfcb-4e48-93a0-cf4f8dc2b4d7",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.0-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        240
      ],
      "id": "3eb90e41-eaf2-472a-ae15-06ab75343898",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "T3NsSizYenXVYReq",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "query": "latest news on llama 3.3 "
        }
      }
    ]
  },
  "connections": {
    "Wikipedia": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Hacker News": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "SerpAPI": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b086e9e7-9d3d-4bfa-b954-9fc2b8499ef8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "9b2151f2c4f493cff1baf87ef4eacf2807a643fd92db491416302b149fab9ec7"
  },
  "id": "J9cLFXWW7Ty8PvyR",
  "tags": []
}